
body {
 background-image: url(greyBg.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 margin: 0;
 padding: 0;
 background-origin: padding-box;
 width: 100%;
 height: 100%;
 background-size: 100% 100%;


}

table#tableau
	{
	border-collapse: separate;
	border-spacing: 75px 0px;
	width: 75% ;
	}

	#tableau th 
		{
		border: 4px solid black;
		width: 25%;
		padding: 3px;
		}
	#tableau td 
		{
		text-align: center;
		padding: 0px;
		}
	#tableau input
		{
		width: 100%;
		}


table#arbre
	{
	border: 4px solid black;
	border-collapse: collapse;
	width: 60% ;
	}


	 #arbre td 
		{
		text-align: left;
		padding-bottom: 15px;
		}
	.caca
	{
		width: 20%;
	}

	#arbre input
		{
			width: 100%;
		}
